<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情页</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2.108.2/dist/umd/supabase.min.js"></script>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <div class="login_box" v-if="ait" @click="ait=false;ait0=true;ait1=false">
            <div class="login_main" style="max-width: 70%;" @click.stop>
                <div class="buyalt" v-if="ait0">
                    <p>是否确定为该账号订购此商品？</p>
                    <p style="text-align: center;color: tomato;">{{userpesion.user.email}}</p>
                    <p style="color: gray;font-size: 12px;">*这不会直接产生费用，但会使此订单处于锁定状态 稍后不满意可随时取消锁定</p>
                    <button @click="createOrder()" style="width: 90%;margin: 0.2em;font-size: 20px;margin-top: 0.8em;">确定并获得订单号</button>
                </div>
                <div class="buyalt" v-if="ait1">
                    <div class="buyalt_p_and_copy">
                        <p style="width: 100%;">订单号：{{orderid}}</p>
                        <svg @click="copyText(orderid)" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8" y="8" width="12" height="12" rx="2" stroke="currentColor" stroke-width="2"/>
                            <path d="M16 8V6C16 4.89543 15.1046 4 14 4H6C4.89543 4 4 4.89543 4 6V14C4 15.1046 4.89543 16 6 16H8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="buyalt_p_and_copy">
                        <p style="width: 100%;">客服qq号：2770419807</p>
                        <svg @click="copyText('2770419807')" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8" y="8" width="12" height="12" rx="2" stroke="currentColor" stroke-width="2"/>
                            <path d="M16 8V6C16 4.89543 15.1046 4 14 4H6C4.89543 4 4 4.89543 4 6V14C4 15.1046 4.89543 16 6 16H8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <button @click="gotoqicq">点我跳转到QQ</button>
                </div>
            </div>
        </div>
        <div class="detail" v-if="datail">
            <div class="detail_nav">
                <svg @click="close_back()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 18L9 12L15 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="datail_big_image">
                <img :src="datail.image" alt="">
                <div class="zhezhao"></div>
            </div>
            <div class="datail_title">
                <span>{{datail.title}}</span>
                <span class="info" v-for="info in datail.tags" :key="info.name"
                    :style="{backgroundColor: info.color }" style="font-size: 14px;">&nbsp;{{info.name}}&nbsp;</span>
            </div>
            <div class="datail_sm_title">
                <span class="info_gray" v-for="info in datail.accountFeatures" :key="info.info" style="font-size: 12px;">
                    {{info.info}}
                </span>
            </div>
            <div class="datail_big_ziyuan">
                <span class="info_box" v-for="info in datail.accountResources" :key="info.info">
                    {{info.info}}
                </span>
            </div>
            <img src="./ass/流程图.png" alt="" style="width: 100%;">
            <div class="buy_botton" @click="ait=true">
                确认订购
            </div>
        </div>
    </div>
    <script>
        const supabaseapp = window.supabase.createClient(
            'https://peyqfvxzesnyfluapilt.supabase.co',
            'sb_publishable_3RuQH5_WE9uC4k9gRCW-ng_DXW_YuMb'
        );
        new Vue({
            el: '#app',
            data: {
                datail:null,
                userpesion:null,
                ait:false,
                ait0:true,
                ait1:false,
                orderid:'出现错误！请联系客户或管理员！',
            },
            methods: {
                close_back(){
                    window.close();
                },
                gotoqicq(){
                    window.location.href = 'mqq://';
                },
                async createOrder(){
                    const urlParams = new URLSearchParams(window.location.search);
                    const { data, error } = await supabaseapp
                        .from('products')
                        .select('*')
                        .eq('id', urlParams.get('id'))
                    console.log(data)
                    try {
                        if(data[0].Lock){
                            alert('慢了一步，该商品已被锁定！')
                            this.close_back()
                            return;
                        }
                    } catch (error) {
                        alert('该商品存在错误，请联系客服或管理员')
                        this.close_back()
                        return;
                    }
                    
                    const response = await fetch('https://peyqfvxzesnyfluapilt.supabase.co/functions/v1/super-action', {
                        method: 'POST',
                        headers: {
                            'Authorization': 'Bearer ' + this.userpesion.session.access_token,
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ 
                            product_id: urlParams.get('id'),
                            user_id: this.userpesion.user.email,
                        })
                    })
                    const result = await response.json()
                    console.log(result);
                    this.orderid=result.orderId;
                    this.ait0=false;
                    this.ait1=true;
                },
                copyText(a) {
                    navigator.clipboard.writeText(a).then(() => {
                        alert('已复制到剪切板')
                    }).catch(() => {
                        alert('复制失败，请手动复制')
                    })
                }
            },
            async mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                console.log(urlParams.get('id'));
                const { data, error } = await supabaseapp
                    .from('products')
                    .select('*')           
                    .eq('id', urlParams.get('id'))   
                    .single();       
                if(error){
                    console.log('该商品不可操作！',error);
                    window.close();
                }
                else{
                    this.datail=data;
                }
                try{
                    const session = JSON.parse(localStorage.getItem('user_login'));
                    this.userpesion=session;
                    console.log('已解析用户数据',this.userpesion)
                    console.log('Bearer ' + this.userpesion.session.access_token)
                    if(!this.userpesion){
                        console.log('用户未登录')
                        alert('请前往主页登录账号！')
                        window.location.href = 'https://jiaoyihang.netlify.app/';
                    }
                }
                catch{
                    console.log('未登录')
                    console.log('用户未登录')
                    alert('请前往主页登录账号！')
                    window.location.href = 'https://jiaoyihang.netlify.app/';
                }
            }
        });
    </script>
</body>

</html>
